@import url("https://fonts.cdnfonts.com/css/gilam");
@import url("https://fonts.cdnfonts.com/css/circe");
.wrapper {
  width: 1920px;
  height: 4000px;

  background: #171717;
}
.logotip {
  width: 216px;
  height: 33px;
}
.wrap {
  position: relative;
  display: inline-flex;
}
.logo {
  padding-left: 230px;
  padding-top: 45px;
}

.title {
  left: 1472px;
  top: 37px;
  color: #e4b564;
  border: 1px solid #e4b564;
  padding: 10px 25px 10px 50px;
  margin: 40px 230px 0 1026px;
}
.image {
  position: absolute;

  margin: 50px 409px 0 1500px;
}
.heading {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  margin-top: 128px;
  margin-left: 230px;
  color: #ffffff;
}
.paragraph {
  width: 1182px;
  height: 56px;
  left: 230px;
  top: 276px;
  margin-left: 230px;
  margin-top: 40px;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
.grid-box {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  gap: 25px;
  margin: 40px 230px 0 230px;
}
.box1 {
  grid-column: span 2;
  width: 467px;
  height: 468px;
  background: #634f2c;
}
.box2 {
  grid-column: span 2;
  width: 467px;
  height: 468px;
  background: #b4a385;
}
.box3 {
  width: 467px;
  grid-column: span 2;

  height: 468px;
  background: #e4b564;
}
.box4 {
  grid-column: span 3;
  width: 715px;
  height: 468px;
  background: #635a4a;
}
.box5 {
  grid-column: span 3;
  width: 715px;
  height: 468px;
  background: #b08c4d;
}
.txt-grid-box {
  display: flex;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
.txt-grid-box1 {
  padding: 220px 148px 220px 149px;
}
.txt-grid-box2 {
  padding: 206px 43px 206px 44px;
}
.txt-grid-box3 {
  padding: 220px 140px 220px 141px;
}
.txt-grid-box4 {
  padding: 220px 163px 220px 162px;
}
.txt-grid-box5 {
  padding: 220px 237px 220px 239px;
}
.headline {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  margin-top: 161px;
  margin-left: 230px;
  color: #ffffff;
}
.grid {
  overflow: hidden;
  width: 1460px;
  height: 900px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-row: 4fr 1fr 2fr 2fr 4fr;
  margin: 95px 230px 0px 230px;
  gap: 30px;
}
.bottom-grid-txt {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
.grid_item1 {
  height: 313px;
  grid-row: 1/3;
  background: #0e0e0e;
}
.grid_item2 {
  grid-row: 1/4;
  background: #242424;
}
.grid_item3 {
  height: 255px;
  grid-row: 1/2;
  background: #1f1f1f;
}
.grid_item4 {
  height: 560px;
  grid-column: 1/2;
  grid-row: 3/6;
  background: #1f1f1f;
}
.grid_item5 {
  grid-column: 2/3;
  grid-row: 4/6;
  height: 90%;
  background: #e4b564;
}
.grid_item6 {
  height: 313px;
  grid-row: 2/5;
  background: #0e0e0e;
}
.grid_item7 {
  height: 277px;
  grid-row: 5/6;
  background: #0a0909;
}
.bottom-grid-txt1 {
  padding: 44px 113px 219px 52px;
  font-weight: 400;
}
.bottom-grid-txt2 {
  padding: 44px 114px 345px 51px;
  font-weight: 400;
}
.bottom-grid-txt3 {
  padding: 44px 117px 186px 48px;
}
.bottom-grid-txt4 {
  padding: 56px 113px 479px 52px;
}
.bottom-grid-txt5 {
  padding: 47px 113px 333px 52px;
  color: #000000;
}
.bottom-grid-txt6 {
  padding: 44px 117px 244px 48px;
}
.bottom-grid-txt7 {
  padding: 44px 117px 208px 48px;
  font-weight: 700;
}
.grid-txt1 {
  font-weight: 700;
}
.grid-txt2 {
  font-weight: 700;
}
.inner {
  position: relative;
  width: 1918px;
  height: 1067px;
  margin-top: 190px;
  background: #0e0e0e;
}

.inner-headline {
  display: block;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  padding-top: 171px;
  padding-left: 230px;
}
.btn {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 40px 10px 40px;
  color: #e4b564;
  border: 1px solid #e4b564;
  margin-top: 161px;
  margin-left: 650px;
  margin-right: 230px;
}
.conteiner {
  width: 1460px;
  height: 782px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  text-align: center;
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 72px;
}

.box-logo1 {
  padding: 171px 151px 171px 151px;
  width: 487px;
  height: 391px;
  background: #634f2c;
}
.box-logo2 {
  width: 487px;
  height: 391px;
  background: #e8d2abc2;
}
.logo-box1 {
  padding: 61px 207px 3px 217px;
}
.logo-box2 {
  padding: 3px 174px 16px 173px;
}
.txt-box2 {
  display: block;
  width: 305px;
  height: 180px;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  margin: 0 80px 61px 80px;
  color: #ffffff;
}
.txt-font {
  font-weight: 400;
}
.box-logo3 {
  padding: 174px 148px 175px 149px;
  width: 487px;
  height: 391px;
  background: #e4b564;
}
.box-logo4 {
  padding: 174px 148px 175px 149px;
  width: 487px;
  height: 391px;
  background: #635a4a;
}
.box-logo5 {
  width: 487px;
  padding: 169px 180px 169px 184px;
  height: 391px;
  background: #b08c4d;
}
.box-logo6 {
  padding: 171px 151px 171px 151px;
  width: 487px;
  height: 391px;
  background: #634f2c;
}
